<div>
  <form >
    <label>peru</label>
    <input name="n1" type="text" [(ngModel)]="profile.peru" placeholder="Enter your name:">
    <label >email</label>
    <input name="n2" type="text" [(ngModel)]="profile.email" placeholder="Enter your Email:">
  </form>
  <p>{{profile.peru}}</p>
  <p>{{profile.email}}</p>
</div>






















<!-- <div>
  <form>
    <label for="city">Select City:</label>
    <select id="city" [(ngModel)]="selectedCity">
      <option value="New York">New York</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Chicago">Chicago</option>
      <option value="Houston">Houston</option>
    </select>
  </form>

  <p>You selected: {{ selectedCity }}</p>
</div> -->

